.delete {
    // width: $add;
    height: 10px;
    background-color: #444;
}
#deleteimg{
color:red;
text-align: center;
}
.thead-light-header > th{
    background: #dfefee;
}
#editimg{
color:rgb(43, 218, 249);
text-align: center;
}