<div class="container-fluid h-100 w-100">

    <div class="card border-0 w-100" >
        <div class="card-body">
            
            <div><h3>Task Management System</h3>
             <div *ngIf="tablelistdata">
            <div class="mt-5"><b>All Task details </b></div>
            <div>
                <div class="col-8 d-flex">
                    <div class="input-group mb-3 w-50 me-3">
                    <input type="text" [(ngModel)]="filtersn"class="form-control" placeholder="Filter by Id" />
                    <div class="input-group-append" (click)="applyFilter('sn')"><span class="input-group-text" >Filter</span></div>
                    </div>
                    <div class="input-group mb-3 w-50">
                    <input type="text" [(ngModel)]="filterTitle" class="form-control" placeholder="Filter by Title" />
                    <div class="input-group-append"(click)="applyFilter('Title')"><span class="input-group-text" >Filter</span></div>
                    </div>           
                    
                
                    <!-- <input type="date" [(ngModel)]="filterDueDate" placeholder="Filter by Due Date" />
                    <button (click)="applyFilter('Due_date')">Filter</button> -->
                </div>
            </div>
            <div class="text-end"><button (click)="traddTable()" class="btn  btn-primary">Add Task</button></div>
            <table  #myTableRef class="table  table-striped w-100">
                <thead class="thead-light-header">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Priority</th>
                    <th>Due date</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                    <!-- {{taskdata}} -->
                    <tr *ngFor="let item of filteredData ;let i = index">
                        <th>{{item.sn}}</th>
                        <td>{{item.Title}}</td>
                        <td>
                            <div *ngIf="item.status =='Pending'" class="bg-warning rounded-5 text-center text-white">Pending</div>
                            <div *ngIf="item.status =='success'" class="bg-success rounded-5 text-center text-white">success</div>
                            <div *ngIf="item.status =='reject'" class="bg-danger rounded-5 text-center text-white">reject</div>
                        </td>
                        <td>
                            <div *ngIf="item.priority == 'High'" class="bg-danger rounded-5 text-center text-white">High</div>
                            <div *ngIf="item.priority == 'Mideum'" class="bg-warning rounded-5 text-center text-white">Mideum</div>
                            <div *ngIf="item.priority == 'Low'" class="" class="bg-info rounded-5 text-center text-white">Low</div>
                        </td>
                        <td>{{item.Due_date}}</td>
                        <td class="text-center"><i class="fas fa-edit"  id="editimg" (click)="trupdate($event, item, i)"></i></td>
                        <td (click)="trdelete(i)" class="text-center"><i class="fa-solid fa-trash" id="deleteimg"></i></td>
                    </tr>
                </tbody>
            </table>
            </div>
           </div>
           <div class="card  w-50" *ngIf="createform">
            <div class=" card-header"><h4><b>Create task</b></h4></div>
             <div class="card-body">
                
                <form   #userLogin="ngForm" (ngSubmit)="onSubmit(userLogin.value)">
                    <div class="mb-3"><label for="ID" class="form-label">ID no.</label><input type="number"  class="form-control"name="ID" id="Id"ngModel required ></div>
                    <div class="mb-3"><label for="title" class="form-label">TITLE </label><input type="text"class="form-control" name="title"id="title"   ngModel required></div>
                    <!-- <div class="mb-3"><label for="title" class="form-label">status</label><input type="text" class="form-control"name="status"id="title"   ngModel required></div> -->
                    <div class="mb-3"><label for="priority" class="form-label">Priority</label><select type="text" class="form-control" name="priority"id="priority"   ngModel required>
                        <option value="Low">Low</option>
                        <option value="Mideum">Mideum</option>
                        <option value="High">High</option>
                    </select></div>
                    <div class="mb-3"><label for="Due_date" class="form-label">Due date</label><input type="text"  class="form-control"name="Due_date"id="Due_date"  ngModel required></div>
                    <div class="mb-3"><label for="taskstatus" class="form-label">Status</label><select type="text" class="form-select"name="taskstatus"id="taskstatus"  ngModel required>
                        <option value="Scceuss">Scceuss</option>
                        <option value="Pending">Pending</option>
                        <option value="Reject">Reject</option>
                    </select></div>
                    <div class="d-flex text-end justify-content-end">
                    <div><button class="btn btn-danger m-2" (click)="createformclose()">Cancel</button></div><div><button type="submit" class="btn btn-success m-2" >Save</button></div></div>
                </form>
               
             </div>
           </div>

           <div class="card  w-50" *ngIf="updateform">
            <div class=" card-header"><h4><b>Update task</b></h4></div>
             <div class="card-body">
                
                <form   #userLogin="ngForm" (ngSubmit)="onSubmit(userLogin.value)">
                    <div class="mb-3"><label for="ID" class="form-label">ID no.</label><input type="number"  class="form-control"name="updateID" id="updateId" [(ngModel)]="selecttrvalue.sn"required ></div>
                    <div class="mb-3"><label for="title" class="form-label">TITLE </label><input type="text"class="form-control" name="updatetitle"id="updatetitle" [(ngModel)]="selecttrvalue.Title"  ngModel required></div>
                    <!-- <div class="mb-3"><label for="title" class="form-label">status</label><select type="text" class="form-control"name="status"id="title"   ngModel required> -->

                    <!-- </select></div> -->
                    <div class="mb-3"><label for="priority" class="form-label">Priority</label><select type="text" class="form-control" name="updatepriority"id="updatepriority"  [(ngModel)]="selecttrvalue.priority" ngModel required>                    <option value="Low">Low</option>
                        <option value="Mideum">Mideum</option>
                        <option value="High">High</option>
                    </select></div>
                    <div class="mb-3"><label for="Due_date" class="form-label">Due date</label><input type="text"  class="form-control"name="updateDue_date"id="updateDue_date"[(ngModel)]="selecttrvalue.Due_date"  required></div>
                    <div class="mb-3"><label for="taskstatus" class="form-label">Status</label><select type="text" class="form-control"name="updatetaskstatus"id="updatetaskstatus" [(ngModel)]="selecttrvalue.status"   required>
                        <option value="success">success</option>
                        <option value="Pending">Pending</option>
                        <option value="reject">reject</option>
                    </select></div>
                    <div class="d-flex text-end justify-content-end">
                    <div><button class="btn btn-danger m-2" (click)="createformclose()">Cancel</button></div><div><button type="submit" class="btn btn-success m-2" >update</button></div></div>
                </form>
               
             </div>
           </div>
          </div>
        </div>
    </div>
    